body {
  background-color: #FCFCFC;
  font-family: 'Work Sans', sans-serif !important;

  a,
  a:active,
  a:hover{
    color: #565656;
  }
  a:hover{
    text-decoration: none;
  }

  .container-fluid.no-gutters{
    padding-right: 0;
    padding-left: 0;
  }

  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .col-5{
    &.no-gutters{
      padding-right: 0;
      padding-left: 0;
    }
  }

  .table-wrap{
    margin-bottom: 45px;
  }

  .table{
    border: 1px solid #dee2e6;
    margin: 0;
  }

  .table thead th{
    padding: 20px 15px;
    font-size: 12px;
    color: #797979;
    font-weight: 400;
    background-color: #FCFCFC;
    border-bottom: none;
  }

  .table tbody th,
  .table tbody td{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    padding: 20px 15px;
    line-height: 24px;
  }

  .table-striped tbody tr:nth-of-type(odd){
    background-color: #FCFCFC;
  }

  .table-striped tbody tr:nth-of-type(even){
    background-color: rgba(0,0,0,.05);
  }
}

#header {
  padding: 30px 55px;

  .container-fluid {

    .logo {

      img {
        width: 80px;
      }

    }

    .row {

      .d-flex {
        justify-content: flex-end;
        align-items: center;

        .menu{
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: #565656;
          padding-right: 30px;
          border-right: 1px solid #e8e8e8;
          text-align: center;
          text-transform: uppercase;

          a{
            position: relative;
          }
          li.dropdown a:after{
            top: 7px;
            right: -20px;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 3.5px 0 3.5px;
            border-color: #ffd942 transparent transparent transparent;
            position: absolute;
          }

          ul{
            li{
              margin: 0;
              padding: 0 20px;

              ul.nav-dropdown{
                position: relative;
                li{
                  padding: 0;
                  display: none;
                  position: absolute;
                }
              }
            }
            li:last-child{
              padding-right: 0;
            }
          }
        }

        .search {
          width: 20px;
          height: 20px;
          margin-left: 30px;
          margin-bottom: 5px;
        }

      }

    }

  }
}

#slider-block {
  .wrap-slider{
    width: 100%;
  }
  .slider-content{
    width: 100%;

    .slider-item{
      width: 100%;
      position: relative;

      img{
        width: 100%;
      }

      .slider-text-wrap{
        position: absolute;
        display: flex;
        top: 0;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .text{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          p{
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;color: #fefefe;
            font-weight: 500;
          }

          .date{
            font-size: 16px;
            padding-bottom: 24px;
          }

          .title{
            font-size: 72px;
          }
        }

      }
    }
  }
}

#main-content{
  margin-bottom: 20px;
  padding: 65px 0 32px;
  border-bottom: 1px solid #f1f1f5;

  p{
    padding: 0;
    margin: 0;
    color: #333333;
    line-height: 24px;

    &.bold-content{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 43px;
    }

    &.normal-content{
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 43px;
    }

    &.title-content{
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 10px;
    }

  }

  .quotation-block{
    margin: 5px 0 43px;
    padding: 50px 0 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      background: url(/img/icons/quotes.png) no-repeat;
      width: 30px;
      height: 30px;
    }

    .quotation-text{
      font-family: 'Libre Baskerville', serif;
      font-size: 16px;
      line-height: 30px;
      margin-left: 70px;
    }

    .quotation-author{
      color: #797979;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 25px;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      display: flex;

      &:before{
        content: '';
        height: 1px;
        width: 40px;
        background-color: #797979;
        display: block;
        position: absolute;
        right: 153px;
      }
    }
  }
}

@import "response";