body {
  background-color: #FCFCFC;
  font-family: 'Work Sans', sans-serif !important; }
  body a,
  body a:active,
  body a:hover {
    color: #565656; }
  body a:hover {
    text-decoration: none; }
  body .container-fluid.no-gutters {
    padding-right: 0;
    padding-left: 0; }
  body .row.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    body .row.no-gutters > [class^="col-"],
    body .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0; }
  body .col-5.no-gutters {
    padding-right: 0;
    padding-left: 0; }
  body .table-wrap {
    margin-bottom: 45px; }
  body .table {
    border: 1px solid #dee2e6;
    margin: 0; }
  body .table thead th {
    padding: 20px 15px;
    font-size: 12px;
    color: #797979;
    font-weight: 400;
    background-color: #FCFCFC;
    border-bottom: none; }
  body .table tbody th,
  body .table tbody td {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    padding: 20px 15px;
    line-height: 24px; }
  body .table-striped tbody tr:nth-of-type(odd) {
    background-color: #FCFCFC; }
  body .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05); }

#header {
  padding: 30px 55px; }
  #header .container-fluid .logo img {
    width: 80px; }
  #header .container-fluid .row .d-flex {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #header .container-fluid .row .d-flex .menu {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #565656;
      padding-right: 30px;
      border-right: 1px solid #e8e8e8;
      text-align: center;
      text-transform: uppercase; }
      #header .container-fluid .row .d-flex .menu a {
        position: relative; }
      #header .container-fluid .row .d-flex .menu li.dropdown a:after {
        top: 7px;
        right: -20px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3.5px 0 3.5px;
        border-color: #ffd942 transparent transparent transparent;
        position: absolute; }
      #header .container-fluid .row .d-flex .menu ul li {
        margin: 0;
        padding: 0 20px; }
        #header .container-fluid .row .d-flex .menu ul li ul.nav-dropdown {
          position: relative; }
          #header .container-fluid .row .d-flex .menu ul li ul.nav-dropdown li {
            padding: 0;
            display: none;
            position: absolute; }
      #header .container-fluid .row .d-flex .menu ul li:last-child {
        padding-right: 0; }
    #header .container-fluid .row .d-flex .search {
      width: 20px;
      height: 20px;
      margin-left: 30px;
      margin-bottom: 5px; }

#slider-block .wrap-slider {
  width: 100%; }

#slider-block .slider-content {
  width: 100%; }
  #slider-block .slider-content .slider-item {
    width: 100%;
    position: relative; }
    #slider-block .slider-content .slider-item img {
      width: 100%; }
    #slider-block .slider-content .slider-item .slider-text-wrap {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      top: 0;
      height: 100%;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #slider-block .slider-content .slider-item .slider-text-wrap .text {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        #slider-block .slider-content .slider-item .slider-text-wrap .text p {
          margin: 0;
          padding: 0;
          width: 100%;
          text-align: center;
          line-height: 1;
          text-transform: uppercase;
          color: #fefefe;
          font-weight: 500; }
        #slider-block .slider-content .slider-item .slider-text-wrap .text .date {
          font-size: 16px;
          padding-bottom: 24px; }
        #slider-block .slider-content .slider-item .slider-text-wrap .text .title {
          font-size: 72px; }

#main-content {
  margin-bottom: 20px;
  padding: 65px 0 32px;
  border-bottom: 1px solid #f1f1f5; }
  #main-content p {
    padding: 0;
    margin: 0;
    color: #333333;
    line-height: 24px; }
    #main-content p.bold-content {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 43px; }
    #main-content p.normal-content {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 43px; }
    #main-content p.title-content {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 10px; }
  #main-content .quotation-block {
    margin: 5px 0 43px;
    padding: 50px 0 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    position: relative; }
    #main-content .quotation-block:before {
      content: '';
      position: absolute;
      background: url(/img/icons/quotes.png) no-repeat;
      width: 30px;
      height: 30px; }
    #main-content .quotation-block .quotation-text {
      font-family: 'Libre Baskerville', serif;
      font-size: 16px;
      line-height: 30px;
      margin-left: 70px; }
    #main-content .quotation-block .quotation-author {
      color: #797979;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 25px;
      position: relative;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #main-content .quotation-block .quotation-author:before {
        content: '';
        height: 1px;
        width: 40px;
        background-color: #797979;
        display: block;
        position: absolute;
        right: 153px; }
